# ML Zoomcamp - Homework #3
http://mlzoomcamp.com/

# Exploratory Data Analysis

In [1]:
# importando bibliotecas 
import numpy as np # matrizes
import pandas as pd # tratamento do conjunto de dados

In [2]:
# caminho e carregamento do conjunto de dados que será utilizado no trabalho
path = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv' 
df = pd.read_csv(path)

In [3]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

#### Featuers
- Para esse trabalho, só utilizaremos as colunas: Make, Model, Year, Engine HP, Engine Cylinders, Transmission Type, Vehicle Style, highway MPG, city MPG, MSRP

In [16]:
df_work = df[['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']]
df_work.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [17]:
df_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine HP          11845 non-null  float64
 4   Engine Cylinders   11884 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Vehicle Style      11914 non-null  object
 7   highway MPG        11914 non-null  int64
 8   city mpg           11914 non-null  int64
 9   MSRP               11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [19]:
# uniformizando o estilo das strings
df_work.columns = df_work.columns.str.replace(' ', '_').str.lower()
string_columns = list(df_work.dtypes[df_work.dtypes == 'object'].index)

for col in string_columns:
    df_work[col] = df_work[col].str.lower().str.replace(' ', '_')

C:\Users\felip\AppData\Local\Temp\ipykernel_18624\1078921667.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_work[col] = df_work[col].str.lower().str.replace(' ', '_')

In [20]:
df_work.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500

In [21]:
# Verificando os dados que estão faltando nas colunas selecionadas
df_work.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [26]:
df_work = df_work.copy()
df_work.fillna(0, inplace=True) # sbustituindo os dados que estão faltando por 0
df_work.rename(columns={'msrp': 'price'}, inplace=True) # substituindo o nome da coluna msrp
df_work.head(1)

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135

## Questão 1

- Qual a moda da coluna transmission_type?

In [33]:
df_work.transmission_type.mode().values[0]

'automatic'

- O registro que mais aparece é "automatic", ou seja, a transmissão automática é a mais frequente nos carros do conjunto de dados avaliado.

## Questão 2

- Crie a matrix de correlação das variáveis numéricas do conjunto de dados. 
- Quais são as duas variáveis que tem a maior correlação no conjunto?

In [38]:
df_work.corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

- As maiores correlações são entre "city_mpg" e "highway_mpg"

#### Transformação na variável alvo "price"
- Transformar a variável "price" em um formato binário
- Criar a variável "above_average" que vai ser 1 se o valor for acima da média e 0 se for abaixo da média.

In [43]:
price_average = df_work.price.mean()
print(f'A média de preço dos veículos analisados é ${round(price_average, 2)}.')

A média de preço dos veículos analisados é $40594.74.

In [45]:
df_work['above_average'] = df_work['price'].map(lambda x: 1 if x > price_average else 0)
df_work.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135,1
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650,1
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350,0
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450,0
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500,0

#### Separação dos dados

In [142]:
from sklearn.model_selection import train_test_split

df_train_full, df_test = train_test_split(df_work, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [143]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [144]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

In [145]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [146]:
del df_train['price']
del df_val['price']
del df_test['price']

## Questão 3 

- Calcule o escore de informação mútua (Mutual Information Score) entre "above_average" e outras variáveis categóricas no conjunto de dados. Use apenas o conjunto de treino.
- Arredonde os valores para duas casas decimais.

In [147]:
df_train_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9531 entries, 3181 to 7270
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               9531 non-null   object
 1   model              9531 non-null   object
 2   year               9531 non-null   int64
 3   engine_hp          9531 non-null   float64
 4   engine_cylinders   9531 non-null   float64
 5   transmission_type  9531 non-null   object
 6   vehicle_style      9531 non-null   object
 7   highway_mpg        9531 non-null   int64
 8   city_mpg           9531 non-null   int64
 9   price              9531 non-null   int64
 10  above_average      9531 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 893.5+ KB

In [148]:
from sklearn.metrics import mutual_info_score

In [149]:
def mutual_info_price_score(series):
    return round(mutual_info_score(series, df_train_full.above_average),2)

In [150]:
mutual_info = df_train_full[string_columns].apply(mutual_info_price_score)
mutual_info.sort_values(ascending=False)

model                0.46
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

#### Resposta: A variável mais importante é o modelo do veículo ("model").

## Questão 4
#### Treinamento do Modelo 

- Treinar uma regressão logística; 
- Tratar as variáveis categóricas com one-hot encoding;
- Ajustar o modelo com o conjunto de treino;
    - Para garantir que os resultados sejam reprodutíveis, utilize:
    - model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
- Calcular a acurácia com o conjunto de validação e arredondar para 2 casas decimais.
- Qual a acurácia obtida?

In [80]:
df_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,mitsubishi,endeavor,2011,225.0,6.0,automatic,4dr_suv,19,15
1,kia,borrego,2009,276.0,6.0,automatic,4dr_suv,21,17
2,lamborghini,gallardo,2012,570.0,10.0,manual,convertible,20,12
3,chevrolet,colorado,2016,200.0,4.0,automatic,crew_cab_pickup,27,20
4,pontiac,vibe,2009,158.0,4.0,automatic,4dr_hatchback,26,20
...,...,...,...,...,...,...,...,...,...
7143,toyota,sienna,2016,266.0,6.0,automatic,passenger_minivan,25,18
7144,chevrolet,hhr,2009,260.0,4.0,manual,wagon,29,21
7145,hyundai,veracruz,2012,260.0,6.0,automatic,4dr_suv,22,17
7146,mitsubishi,expo,1993,136.0,4.0,manual,2dr_hatchback,26,19
7147,ford,taurus,2015,365.0,6.0,automatic,sedan,25,17

#### One-Hot Encoding

In [151]:
from sklearn.feature_extraction import DictVectorizer

numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

train_dict = df_train[string_columns + numerical].to_dict(orient='records')
train_dict[0]

{'make': 'mitsubishi',
 'model': 'endeavor',
 'transmission_type': 'automatic',
 'vehicle_style': '4dr_suv',
 'year': 2011,
 'engine_hp': 225.0,
 'engine_cylinders': 6.0,
 'highway_mpg': 19,
 'city_mpg': 15}

In [152]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [153]:
X_train = dv.transform(train_dict)

In [154]:
X_train.shape

(7148, 943)

In [155]:
val_dict = df_val[string_columns + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

#### Model Training and Validation

In [156]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [157]:
y_pred = model.predict_proba(X_val)[:,1]

In [158]:
from sklearn.metrics import accuracy_score

round(accuracy_score(y_val, y_pred >= 0.5),2)

0.94

- A acurácia obtida foi de 0.94.

## Questão 5

- Usar a técnica de eliminação de variáveis para eliminar as menos úteis; 
- Treinar o modelo usando essas variáveis menos úteis igual ao modelo da questão anterior;
- Excluir cada uma delas e verificar a acurácia de cada modelo; 
- Calcular a diferença na acurácia pra cada modelo.
- Qual a variável que tem a menor diferença?

In [178]:
# under construction

## Questão 6

- Usar a regressão linear do scikit-learn;
- Usar a coluna original "price", aplicar a função log nessa coluna;
- Usar o modelo com um valor para solucionador = 'sag' e semente 42;
- Testar vários parâmetros alfa: [0, 0.01, 0.1, 1, 10];
- Arredondar os valores de RMSE para 3 casas decimais;
- Qual o melhor alfa?

In [165]:
from sklearn.model_selection import train_test_split

df_train_full, df_test = train_test_split(df_work, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [166]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [167]:
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

In [168]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [169]:
del df_train['price']
del df_val['price']
del df_test['price']

In [ ]:
from sklearn.feature_extraction import DictVectorizer

numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

train_dict = df_train[string_columns + numerical].to_dict(orient='records')
train_dict[0]

In [171]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [172]:
X_train = dv.transform(train_dict)

In [173]:
val_dict = df_val[string_columns + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [177]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from math import sqrt

alpha = [0.0, 0.01, 0.1, 1.0, 10.0]

rmse_values = []
for a in alpha:
    model = Ridge(solver='sag', alpha=a, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    rmse = round(sqrt(mean_squared_error(y_val, y_pred)),3)

    # Armazene o RMSE na lista
    rmse_values.append(rmse)

# Encontre o valor de alpha que resultou no menor RMSE
best_alpha_index = np.argmin(rmse_values)
best_alpha = alpha[best_alpha_index]
best_rmse = rmse_values[best_alpha_index]

# Imprima os valores de RMSE para cada alpha
for alpha, rmse in zip(alpha, rmse_values):
    print(f"Alpha = {alpha}: RMSE = {rmse}")

# Imprima o melhor valor de alpha e seu RMSE correspondente
print(f"Melhor alpha = {best_alpha}: Melhor RMSE = {best_rmse}")

c:\Users\felip\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Users\felip\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Users\felip\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Users\felip\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Alpha = 0.0: RMSE = 53090.743
Alpha = 0.01: RMSE = 53090.758
Alpha = 0.1: RMSE = 53090.887
Alpha = 1.0: RMSE = 53092.175
Alpha = 10.0: RMSE = 53105.016
Melhor alpha = 0.0: Melhor RMSE = 53090.743

c:\Users\felip\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

- O melhor alpha foi 0.